[submodule "tp/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/small_vector"]
	path = deps/small_vector
	url = git@github.com:gharveymn/small_vector.git
	branch = main
[submodule "deps/args"]
	path = deps/args
	url = https://github.com/Taywee/args.git
	branch = master
[submodule "deps/fadec"]
	path = deps/fadec
	url = git@gitlab.db.in.tum.de:tpde/fadec.git
	branch = master
