[submodule "tp/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/small_vector"]
	path = deps/small_vector
	url = git@github.com:gharveymn/small_vector.git
	branch = main
